<launch>

  <arg name="rhosVisibility_"/>
  <arg name="rhoTracking_"/>
  <arg name="target_name_"/>

  <!--
    normal tracking planner:
      elastic       = 原 Elastic Tracker A*
      kino          = Kinodynamic A*，禁止 fallback
      kino_fallback = Kino 主规划 + Elastic fallback
  -->
  <arg name="planner_mode_" default="kino_fallback"/>

  <node pkg="nodelet"
        type="nodelet"
        name="planning"
        args="load planning/Nodelet manager"
        output="screen">

    <remap from="~odom" to="odom"/>
    <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    <remap from="~heartbeat" to="heartbeat"/>
    <remap from="~trajectory" to="trajectory"/>
    <remap from="~replanState" to="replanState"/>
    <remap from="~target" to="$(arg target_name_)"/>
    <remap from="~triger" to="/triger"/>
    <remap from="~land_triger" to="/land_triger"/>

    <param name="planner_mode"
           value="$(arg planner_mode_)"
           type="string"/>

    <param name="plan_hz" value="20"/>

    <param name="K" value="8"/>
    <param name="vmax" value="3.0"/>
    <param name="amax" value="6.0"/>
    <param name="rhoT" value="100.0"/>
    <param name="rhoP" value="10000.0"/>
    <param name="rhoV" value="1000.0"/>
    <param name="rhoA" value="1000.0"/>
    <param name="rhoTracking" value="$(arg rhoTracking_)"/>
    <param name="rhosVisibility" value="$(arg rhosVisibility_)"/>
    <param name="theta_clearance" value="0.8"/>
    <param name="clearance_d" value="0.2"/>
    <param name="tolerance_d" value="0.3"/>
    <param name="tracking_dist" value="2.5"/>
    <param name="tracking_dur" value="3.0"/>
    <param name="tracking_dt" value="0.2"/>
    <param name="debug" value="false"/>

    <param name="prediction/rho_a" value="1.0"/>
    <param name="prediction/vmax" value="4.0"/>

    <!-- Kinodynamic A* parameters -->
    <param name="search/max_tau"
           value="0.6"
           type="double"/>

    <param name="search/init_max_tau"
           value="0.8"
           type="double"/>

    <param name="search/max_vel"
           value="3.0"
           type="double"/>

    <param name="search/max_acc"
           value="6.0"
           type="double"/>

    <param name="search/w_time"
           value="10.0"
           type="double"/>

    <param name="search/horizon"
           value="7.0"
           type="double"/>

    <param name="search/resolution_astar"
           value="0.1"
           type="double"/>

    <param name="search/time_resolution"
           value="0.8"
           type="double"/>

    <param name="search/lambda_heu"
           value="5.0"
           type="double"/>

    <param name="search/allocate_num"
           value="100000"
           type="int"/>

    <param name="search/check_num"
           value="5"
           type="int"/>

    <param name="search/optimistic"
           value="true"
           type="bool"/>

  </node>

  <node pkg="planning"
        name="traj_server"
        type="traj_server"
        output="screen">
    <remap from="~position_cmd" to="position_cmd"/>
    <remap from="~trajectory" to="trajectory"/>
    <remap from="~heartbeat" to="heartbeat"/>
    <param name="time_forward" value="1.0" type="double"/>
  </node>

</launch>